streamlit==1.35.0
spacy @ https://files.pythonhosted.org/packages/58/b3/3fc0a52c7f2e27f617113a5fd3436d95e038229c77860eb3e91c143b30a5/spacy-3.7.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
pandas==2.2.2
scikit-learn==1.4.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
